[package]
name = "ggml-sys-bleedingedge"
version = "2304231820.0.0+llamacpp-release.master-ec9cdb6"
description = "Bleeding edge low-level bindings to GGML. "
repository = "https://github.com/KerfuffleV2/ggml-bleeding-edge"
keywords = ["deep-learning", "machine-learning", "tensors", "ggml", "ml"]
edition = "2021"
license = "MIT"
resolver = "2"

[lib]

[build-dependencies]
cc = "^1.0"
bindgen = "0.65"
