[package]
name = "ggml-sys-bleedingedge"
version = "2304221527.0.0+llamacpp-release.master-0e018fe"
description = "Bleeding edge low-level bindings to GGML. "
edition = "2021"
license = "MIT"
resolver = "2"

[lib]

[build-dependencies]
cc = "^1.0"
bindgen = "0.65"
